* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 100vh;
  gap: 4px;
  text-align: center;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(4, 1fr);
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1 / 3;
  background-color: #393f4d;
}

.logo {
  text-align: center;
  justify-self: start;
}

.menu {
  align-self: center;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
}

.sidebar {
  grid-row: 2/ 4;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  gap: 50px;
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-column: 1 / 3;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}